body
{
    list-style-position: inside;
    text-align: center;
}

a 
{
    font-size: 20px;
}

.text-20
{
    font-size: 20px;
}

h2,h3
{
    font-family: 'Courier New', Courier, monospace;
}